In [1]:
import pandas as pd
import numpy as np

C:\Users\nisha\AppData\Local\Temp\ipykernel_5324\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df1 = pd.read_csv(r'E:\Data Science\Python for DS\DataSets\bollywood.csv',index_col = 'movie')
movie = df1.squeeze()
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [3]:
df2 = pd.read_csv(r'E:\Data Science\Python for DS\DataSets\kohli_ipl.csv', index_col = 'match_no')
vk = df2.squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [4]:
df3 = pd.read_csv('E:\Data Science\Python for DS\DataSets\subs.csv')
sub = df3.squeeze()
type(sub)

pandas.core.series.Series

In [5]:
# astype ---> change the data type of data present in dataset
import sys
sys.getsizeof(vk)

3472

In [6]:
sys.getsizeof(vk.astype('int16'))

2182

In [7]:
# between 
vk[vk.between(51,99)]

match_no
34     58
41     71
44     56
45     67
52     70
57     57
68     73
71     51
73     58
74     65
80     57
81     93
82     99
85     56
97     67
99     73
103    51
104    62
110    82
116    75
117    79
119    80
122    52
127    75
129    54
131    54
132    62
134    64
137    55
141    58
144    57
145    92
148    68
152    70
160    84
162    67
175    72
178    90
188    72
197    51
198    53
209    58
213    73
Name: runs, dtype: int64

In [8]:
vk[vk.between(51,99)].size

43

In [9]:
# clip
sub.clip(100,200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Calories, Length: 365, dtype: int64

In [10]:
# drop duplicate
temp = pd.Series([1,1,2,3,4,2,4,2,5,3,5,8,7,3,8,7])
temp.drop_duplicates()

0     1
2     2
3     3
4     4
8     5
11    8
12    7
dtype: int64

In [11]:
temp.drop_duplicates(keep='last')

1     1
6     4
7     2
10    5
13    3
14    8
15    7
dtype: int64

In [12]:
movie.drop_duplicates()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Sssshhh...                              Tanishaa Mukerji
Rules: Pyaar Ka Superhit Formula                  Tanuja
Right Here Right Now (film)                        Ankit
Talaash: The Hunt Begins...                Rakhee Gulzar
The Pink Mirror                          Edwin Fernandes
Name: lead, Length: 566, dtype: object

In [13]:
'Ankit' in movie.values

True

In [14]:
temp.duplicated().sum()

9

In [15]:
vk.duplicated().sum()

137

In [16]:
temp = pd.Series([1,2,3,np.nan,5,6,np.nan,8,np.nan,10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [17]:
temp.size

10

In [18]:
temp.count()

7

In [19]:
# isnull
temp.isnull().sum()

3

## dropna

In [20]:
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

## fillna

In [21]:
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [22]:
temp.fillna(temp.mean())

0     1.0
1     2.0
2     3.0
3     5.0
4     5.0
5     6.0
6     5.0
7     8.0
8     5.0
9    10.0
dtype: float64

## isin

In [23]:
(vk ==49) |(vk ==99)

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [24]:
vk[(vk ==49) |(vk ==99)]

match_no
82    99
86    49
Name: runs, dtype: int64

In [25]:
vk.isin([49,99])

match_no
1      False
2      False
3      False
4      False
5      False
       ...
211    False
212    False
213    False
214    False
215    False
Name: runs, Length: 215, dtype: bool

In [26]:
vk[vk.isin([49,99])]

match_no
82    99
86    49
Name: runs, dtype: int64

apply

In [27]:
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [28]:
movie.apply(lambda x:x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [29]:
sub

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Calories, Length: 365, dtype: int64

In [30]:
sub.mean()

135.64383561643837

In [31]:
sub.apply(lambda x:'Good Day' if x>sub.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    Good Day
361    Good Day
362    Good Day
363    Good Day
364    Good Day
Name: Calories, Length: 365, dtype: object

In [42]:
# Copy    --> if you do any manipulation in its other of it automatically reflect in original dataset series
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [41]:
new = vk.head(5)

In [34]:
new[1]  =1

In [38]:
# copy
new1 = vk.head(5).copy()

In [40]:
new1[1] = 0

In [43]:
new1

match_no
1     0
2    23
3    13
4    12
5     1
Name: runs, dtype: int64